<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="homepage.component.css">
    </head>
    <br>
    <body>
    <h1>"Connecting Studnets of Same Faculty"</h1>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Explore More<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a><input type=button onclick="parent.location='profile.component.html'" value="View Profile"></a>
                    <a><input type=button onclick="parent.location='discussion.component.html'" value="Post Contents"></a>
                    <a><input type="button" onclick="parent.location='Viewcontent.component.html'" value="View Contents"></a>
                    <a><input type="button" onclick="parent.location='freestudy.component.html'" value="Free Study Materials"></a>
                    <a><input type=button onclick="parent.location='addbooks.html'" value="Add Books"></a>
                    <a><input type=button onclick="parent.location='viewbooks.componenthtml'" value="View Books"></a>
                    <a><input type=button onclick="parent.location='addstudent.component.html'" value="Add Profile of students"></a>
                    <a><input type=button onclick="parent.location='addtutor.component.html'" value="Add Profile of tutor"></a>
                    <a><input type="button" onclick="parent.location='contact.component.html'" value="Contact us"></a>
                </div>
            </div>
                
            
    <div class="navbar">
        <a><input type=button onclick="parent.location='login.component.html'" value="Login"></a>
        <a><input type=button onclick="parent.location='Signin.html'" value="Signup"></a>
        </div>
        </div>
        <section>
            <img src="Image/Book.jpg" style="width: 1500px; height:600px ;">
        <button class="button">Get Started</button>
        </section>
    </div>
    </html>
